<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  If you face any problems with login, signup etc. then send a e-mail to
  <em>hermanlloyd.menezes2016@vitstudent.ac.in</em>
  or
  <em>prasoon.nath2016@vitstudent.ac.in</em>
</p>
