<footer class="footer">
	<small>
		This webapp is developed by <a href="https://www.facebook.com/hermanllyod.menezes">Herman Menezes</a>
		and <a href="https://www.facebook.com/prasoon.nath.3">Prasoon Nath</a>
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://news.google.com/">News</a></li>
		</ul>
	</nav>
</footer>